.footer {
    text-align: center;
    background-color: var(--primary-color);
    padding: 7px 16px;
}

.p {
    color: var(--on-primary-color);
    
}
.heart {
    color: red;
}

.bg {
    text-align: center;
    transform: translateY(54px);
    z-index: -1;
}