.container {
    height: calc(100vh - 64px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}
.heading {
    text-align: center;
    margin: 0;
    color: #B00020;
    font-size: 25px;
}