.container {
    display: flex;
    flex-wrap: wrap;
    position: sticky;
    top: 70px;
    width: 100%;
    justify-content: space-between;
    
}

.container__info {
    display: flex;
    flex-wrap: wrap;
    max-width: 324px;
    align-items: flex-start;
     margin-top: 140px;
    background-color: rgb(0 0 0 / 20%);
    border-radius: 5px;
    box-shadow: 0 0 24px rgb(0 0 0 / 14%);
}

.container__info::after {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient( 90deg, rgba(0, 0, 0, 0.87) 0%, rgba(255, 255, 255, 0) 100%);
    z-index: -1;
    opacity: 1;
}

.container__imgWrapper {
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
    overflow: hidden;
    padding-top: 40px;
}

.info {
    width: 130px;
    margin: 16px;
    display: flex;
    align-items: flex-start;
}

 
.title {
    color: rgb(255 255 255 / 67%);
    ;
    text-transform: uppercase;
}

.icon {
    margin-right: 8px;
}

.value {
    margin: 0;
    color: #fff;
    line-height: 0.7;
    font-size: 16px;
}

.japonaise {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 60px;
    color: rgb(255 255 255 / 30%);
    white-space: nowrap;
    margin: 0;
}

.profilePicture {
    position: absolute;
    right: 0;
    top: 0;
    height: 400px;
    z-index: 0;
}

@media (min-width: 590px) {
    .info {
        background-color: transparent;
    }
}

@media (min-width: 600px) {
    .profilePicture {
        height: 600px;
        top: -60px;
    }
}

@media (min-width: 630px) {
    .container__info {
        max-width: 486px;
        margin-bottom: 77px;
    }

    .value {
        font-size: 18px;
    }
}

