
.container {
    display: flex;
    flex-wrap: wrap;
    max-width: 280px;
    margin-top: 90px;
    position: sticky;
    top: 100px;
}

.info {
    width: 140px;
    margin-bottom: 30px;
    display: flex;
    align-items: flex-start;
}

 

@media (min-width: 700px) {
    .container {
        max-width: 550px;
    }
    .info {
        width: 180px;
     }
}
.title {
  
    color: rgb(255 255 255 / 67%);
    text-transform: uppercase;
}

.icon {
    margin-right: 8px;
 }
.value {
    margin: 0;
    color: #fff;
     line-height: 0.7;
 }

.japonaise {
    position: fixed;
    top: 60px;
    right: 20px;
    font-size: 50px;
    color: rgb(255 255 255 / 30%);
    white-space: nowrap;
}

.profilePicture {
    position: absolute;
    right: 0;
    top: 0;
    height: 400px;
    z-index: 0;
}

@media (min-width: 600px) {
    .profilePicture {
        height: 600px;
        top: -60px;
    }
}