.container {
    padding: 16px;
    position: relative;
    margin-top: 40px;
    margin-bottom: 60px;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.backgroundSvg {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    border-radius: 5px;
    filter: drop-shadow(0 0 24px rgb(0 0 0 / 20%));
    z-index: -1;
}

.backgroundSvg__cutout1 {
    transform: translateX(16px);
}

.backgroundSvg__cutout2 {
    transform: translate(89.5px, -1px);
}

.summary {
    margin-top: 40px;
    margin-bottom: 0;
    text-align: justify;
    max-width: 800px;
}
.listInfo {
    padding: 0;
    list-style: none;
    margin: 0;
    max-width: 100%;
    width: 500px;
    /* width: calc(50% - 8px); */
}

@media (min-width: 800px) {
    .listInfo {
        width: calc(50% - 20px);
    }
}

.listInfo__title {
    color: var(--secondary-color);
    margin-bottom: 8px;
}

.listInfo__paragraphe {
    margin: 0;
    margin-left: 16px;
   color: rgb(0 0 0 / 67%);
}

.listInfo__content {
    padding-left: 20px;
}