.container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 100px;
    position: sticky;
    top: 100px;
    width: 100%;
    justify-content: space-between;
}

.container__info {
    display: flex;
    flex-wrap: wrap;
    max-width: 290px;
    align-items: flex-start;
    justify-content: space-between;
}

.container__info::after {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient( 90deg, rgba(0, 0, 0, 0.87) 0%, rgba(255, 255, 255, 0) 100%);
    z-index: -1;
    opacity: 1;
}

.container__img {
    position: absolute;
    top: -60px;
    right: 0;
    z-index: -1;
}

.info {
    width: 140px;
    margin-bottom: 30px;
    display: flex;
    align-items: flex-start;
}

.title {
    color: rgb(255 255 255 / 67%);
    text-transform: uppercase;
}

.icon {
    margin-right: 8px;
}

.value {
    margin: 0;
    color: #fff;
    line-height: 0.7;
}

.japonaise {
    position: absolute;
    top: -60px;
    left: 0;
    
    font-size: 60px;
    color: rgb(255 255 255 / 30%);
    white-space: nowrap;
}

.profilePicture {
    position: absolute;
    right: 0;
    top: 0;
    height: 400px;
    z-index: 0;
}

@media (min-width: 600px) {
    .profilePicture {
        height: 600px;
        top: -60px;
    }


}

 
@media (min-width: 630px) {
    .container__info {
        max-width: 420px;
        margin-bottom: 77px;
    }
}